# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

<h style="color: #008080;">Two sample t-test: Inependent variables</h>

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
legendary = pokemon[pokemon["Legendary"]==True]
no_legendary = pokemon[pokemon["Legendary"]==False]

In [5]:
legendary

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [6]:
no_legendary

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

In [7]:
len(legendary)

65

In [8]:
len(no_legendary)

735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [9]:
media_legendary_total_points = legendary["Total"].mean()
media_no_legendary_total_points = no_legendary["Total"].mean()

std_legendary_total_points = legendary["Total"].std()
std_no_legendary_total_points = no_legendary["Total"].std()

In [10]:
media_legendary_total_points

637.3846153846154

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [11]:
import scipy.stats as st

In [12]:
# Tipos de pokemon a analizar por Total y borro nulos si hay
total_points_legendary = legendary["Total"].dropna()
total_points_no_legendary = no_legendary["Total"].dropna()

In [13]:
# Perform two-sample t-test for independent samples
t_stat, p_value = st.ttest_ind(total_points_legendary, total_points_no_legendary, equal_var=False) 
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.50f}")
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean total points for legendary and no-legendary pokemos are equal")
else:
    print("Reject the Null Hypothesis: The mean total points for legendary and no-legendary pokemos are diferent.")

Test Statistic (t): 25.83
P-Value: 0.00000000000000000000000000000000000000000000009358

Reject the Null Hypothesis: The mean total points for legendary and no-legendary pokemos are diferent.

What do you conclude from this test? Write your conclusions below.

In [14]:
#Como p-valor es mucho menor que 0.05 rechazamos la hipotesis 0, es decir podemos afirmar con 
#un 95% de confianza que las medias de los puntos totales de los pokemon legendarios y no legendarios
#son diferentes.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [15]:
#Defino los pokemon de agua y los diferentes

water = pokemon[pokemon["Type 1"]=="Water"]
no_water = pokemon[pokemon["Type 1"]!="Water"]

In [16]:
water["Total"].mean()

430.45535714285717

In [17]:
no_water["Total"].mean()

435.85901162790697

In [18]:
water["Total"].std()

113.18826606431458

In [19]:
no_water["Total"].std()

121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [20]:
# Perform two-sample t-test for independent samples
t_stat, p_value = st.ttest_ind(water["Total"], no_water["Total"], equal_var=False) 
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.50f}")
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: There are not diference between the mean total points for water and no-water pokemons.")
else:
    print("Reject the Null Hypothesis: There are diference between the total points for water and no-water pokemons.")

Test Statistic (t): -0.46
P-Value: 0.64339153858214492842648724035825580358505249023438

Fail to Reject the Null Hypothesis: There are not diference between the mean total points for water and no-water pokemons.

Write your conclusion below.

In [21]:
#Con un 95% de confianza podemos afirmar que no hay diferencias entre las medias de los puntos totales
#de los pokemones de agua y los que no son de agua.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

<h style="color: #008080;">Two sample t-test: Dependent variables</h>

In [22]:
# H0: Las medias de defensa y ataque de los pokemones son iguales
# H1: Las medias de defensa y ataque de los pokemones no son iguales

In [23]:
pokemon.nunique()

#             721
Name          800
Type 1         18
Type 2         18
Total         200
HP             94
Attack        111
Defense       103
Sp. Atk       105
Sp. Def        92
Speed         108
Generation      6
Legendary       2
dtype: int64

In [24]:
defense = pokemon["Defense"]

attack = pokemon["Attack"]

In [25]:
defense.mean()

73.8425

In [26]:
attack.mean()

79.00125

In [27]:
defense.std()

31.183500559332927

In [28]:
attack.std()

32.45736586949843

In [46]:
# Perform paired t-test
t_stat, p_value = st.ttest_rel(attack, defense)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.40f}")
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: There is not a significant diference between attack and defense of pokemons.")
else:
    print("Reject the Null Hypothesis: There is a significant diference between attack and defense of pokemons.")

Test Statistic (t): 4.33
P-Value: 0.0000171403034793585579912810618052887435

Reject the Null Hypothesis: There is a significant diference between attack and defense of pokemons.

Describe the results of the test in the cell below.

In [30]:
#Con un 95% de confianza podemos afirmar que no hay diferencias significativas entre las medias 
#de ataque y defensa de los pokemones.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [31]:
# H0: Las medias de special defense y special attack de los pokemones son iguales
# H1: Las medias de special defense y special attack de los pokemones no son iguales

In [32]:
special_defense = pokemon["Sp. Atk"]

special_attack = pokemon["Sp. Def"]

In [33]:
# Perform paired t-test
t_stat, p_value = st.ttest_rel(special_defense, special_attack)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.50f}")
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: There is not a significant diference between special attack and special defense of pokemons.")
else:
    print("Reject the Null Hypothesis: There is a significant diference between special attack and special defense of pokemons.")

Test Statistic (t): 0.85
P-Value: 0.39336859975481219819926081981975585222244262695312

Fail to Reject the Null Hypothesis: There is not a significant diference between special attack and special defense of pokemons.

Describe the results of the test in the cell below.

In [34]:
#There is not a significant diference between special attack and special defense of pokemons.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

<h style="color: #008080;">T-Test: One Sample</h>

In [ ]:
mu = 0

#Primero hay que hacer una columna con la resta de los ataques menos las defensas 

pokemon["Atk-Def"] = pokemon["Attack"]-pokemon["Defense"]
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Atk-Def
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,-1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,-1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,-23
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,-50
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,50
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,50
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,100
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,-10

In [47]:
t_stat, p_value2 = st.ttest_1samp(pokemon["Atk-Def"], mu)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value2:.40f}")
print()

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: Not enough evidence to say the average price is greater than $65.")
else:
    print("Reject the Null Hypothesis: There is evidence to say the average price is greater than $65.")

Test Statistic (t): 4.33
P-Value: 0.0000171403034793585579912810618052887435

Reject the Null Hypothesis: There is evidence to say the average price is greater than $65.

In [49]:
p_value2 == p_value

True